* {
  margin: 0px;
  padding: 0p;
  box-sizing: border-box;
}
header {
    background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(57,9,121,1) 39%, rgba(26,53,164,1) 100%);
  text-shadow: 2px 2px #140e36;
}